.container {
  max-width: 600px;
  margin: auto;
  margin-top: 60px;
}

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2; /* Light gray background color */
}

.card-body {
  padding: 30px;
}

.card-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #6c757d; /* Dark gray background color for the title */
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

.form-label {
  color: #495057; /* Dark gray label color for better contrast */
}

.form-control {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ced4da; /* Slightly lighter border color */
  border-radius: 8px;
  background-color: #e9ecef; /* Lighter gray background color */
  color: #495057;
}

.btn-black {
  background-color: #495057;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-black:hover {
  background-color: #343a40; /* Darker color on hover for visual feedback */
}

.bg-primary {
  background-color: #6c757d;
}

.text-white {
  color: #ffffff;
}

.mt-4 {
  margin-top: 2rem;
}

.p-4 {
  padding: 2rem;
}

.rounded {
  border-radius: 8px;
}
