.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: black;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #fbf6f6;
  }
  
  .table th {
    background-color: #393838;
  }

  .table td{
    background-color: gray;
  }
  
  
  
  
  
  