.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid gray;
    border-width: 2px;
  }
  
  .table th {
    background-color: black;
  }

  .table td{
    background-color:black;
  }
  
  
  
  
  
  